{% extends 'admin_app/base.html' %}
{% load static %}


{% block content %}



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">All Problems</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">All Problems</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>


<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">All Problems</h3>

              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap container">
                  <thead>
                    <tr>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in problems %}
                        <tr>
                            <td>{{ item.title }}</td>
                            <td>{{ item.app_user.first_name }} {{ item.app_user.last_name }}</td>

                            <td>
                                {% if item.status == True %}
                                    Approved
                                {% else %}
                                    Not Approved
                                {% endif %}
                            </td>
                            <td>{{ item.pub_date }}</td>
                            <td><a class="btn btn-primary" href="{% url 'admin_app:problem_detail' item.id %}">Details</a> </td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</div>

{% endblock content %}